*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#container{
    width: 80%;
    height: auto;
    margin: 0 auto;
}

.titulo {
    text-align: center;
    font-size: 30px;
    padding: 30px;
}

.formulario{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
}

label{
    font-size: 20px;
    font-weight: bold;
}

.item{
    display: grid;
    grid-template-rows: 1fr;
    justify-items: center;
}

.item input{
    padding: 10px 30px;
}

.item-desc {
    display: grid;
    grid-template-rows: 1fr;
    justify-items: center;
    margin-top: 20px;
}

.centraliza-botao{
    text-align: center;
}

.botao{
    padding: 15px 30px;
    margin-top: 20px;
}

