*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#container{
    width: 50%;
    height: 100vh;
    margin: 0 auto;
    display: grid;
    align-content: center;
}

.titulo {
    text-align: center;
    font-size: 40px;
    padding: 20px;
}

/* Inicio Cadastro de Viagens */
#grid-formulario{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    padding: 30px;
}

.subtitulo{
    font-size: 20px;
    font-weight: bold;
}

.item{
    display: grid;
    grid-template-rows: 1fr;
    justify-items: center;
}

.item input{
    padding: 10px 50px;
}

.item-desc {
    display: grid;
    grid-template-rows: 1fr;
    justify-items: center;
    margin-top: 20px;
}

.centraliza-botao{
    text-align: center;
}

.botao{
    padding: 10px 50px;
    margin-top: 20px;
    font-weight: bold;
}
/* Fim Cadastro de viagens */

/* Inicio Listar viagens */
#grid-viagens{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

.figure-viagens{
    border: 2px solid black;
    border-radius: 4px;

}

.img-viagens{
    width: 100%;
}

.figcaption-viagens{
    display: grid;
    padding: 20px;
    gap: 20px;
}

.botao-viagens{
    display: grid;
    padding: 6px 12px;
    margin: 10px auto;
    background-color: #40d86e;
    font-weight: bold;
    border-radius: 3px;
    color: white;
}
/* Fim Listar viagens */

/* Inicio Gerenciar viagens */
#tabela{
    display: grid;
}

#tabela table{
    border-collapse: collapse;
}

#tabela tr th, tr td{
    padding: 10px;
}

.item-tabela{
    text-align: center;  
}

#tabela th,td{
    border: 2px solid black;
}
/* Fim Gerenciar produtos */

/* Inicio Alterar produtos */
#grid-alterar{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    padding: 30px;
}
/* Fim Alterar produtos */

/* Inicio Entrar admin */
.grid-usuario{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 30px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    padding: 30px;
}

.item-login{
    display: grid;
    grid-template-rows: 1fr;
    justify-items: center;
}

.item-input{
    width: 40vw;
    padding: 10px;
}
/* Fim Entrar admin */